<div id="daysOfWeekCheckboxes">
    <div><div>M</div><div><input type="checkbox" value="M"/></div></div>
    <div><div>T</div><div><input type="checkbox" value="T"/></div></div>
    <div><div>W</div><div><input type="checkbox" value="W"/></div></div>
    <div><div>T</div><div><input type="checkbox" value="T"/></div></div>
    <div><div>F</div><div><input type="checkbox" value="F"/></div></div>
    <div><div>S</div><div><input type="checkbox" value="S"/></div></div>
    <div><div>S</div><div><input type="checkbox" value="S"/></div></div>
</div>
